<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Collection) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t('collection.new_collection'), new_object_url, icon: 'plus', class: 'btn-primary', id: 'admin_new_collection' %>
<% end %>

<% if @collections.any? %>
  <table class="table" id="listing_collections" data-hook>
    <colgroup>
      <col style="width: 40%">
      <col style="width: 35%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_collections_index_headers">
        <th><%= Spree::Collection.human_attribute_name(:name) %></th>
        <th><%= Spree::Collection.human_attribute_name(:permalink) %></th>
        <th><%= Spree::Collection.human_attribute_name(:kind) %></th>
        <th data-hook="admin_collections_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr data-hook="admin_collections_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id collection %>">
          <td><%= collection.name %></td>
          <td><%= link_to collection.permalink, main_app.collection_path(collection), target: '_blank' %></td>
          <td><%= collection.t_enum(:kind) %></td>
          <td class="actions text-right" data-hook="admin_collections_index_row_actions">
            <%= link_to_edit collection, no_text: true %>
            <%= link_to_delete collection, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Collection.model_name.human) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_collection_path %>!
  </div>
<% end %>
